In [1]:
import pandas as pd

# Markdown Cell

In [2]:
df=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
df.head(15)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0
11,-114.60,33.60,21.0,1988.0,483.0,1182.0,437.0,1.6250,62000.0
12,-114.61,34.84,48.0,1291.0,248.0,580.0,211.0,2.1571,48600.0
13,-114.61,34.83,31.0,2478.0,464.0,1346.0,479.0,3.2120,70400.0
14,-114.63,32.76,15.0,1448.0,378.0,949.0,300.0,0.8585,45000.0

In [ ]:
df.tail(15)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16985,-124.19,40.77,30.0,2975.0,634.0,1367.0,583.0,2.4420,69000.0
16986,-124.19,40.73,21.0,5694.0,1056.0,2907.0,972.0,3.5363,90100.0
16987,-124.21,41.77,17.0,3461.0,722.0,1947.0,647.0,2.5795,68400.0
16988,-124.21,41.75,20.0,3810.0,787.0,1993.0,721.0,2.0074,66900.0
16989,-124.21,40.75,32.0,1218.0,331.0,620.0,268.0,1.6528,58100.0
16990,-124.22,41.73,28.0,3003.0,699.0,1530.0,653.0,1.7038,78300.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [6]:
# First upload Salaries.csv
df=pd.read_csv("Salaries.csv")

In [7]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
s=pd.read_csv('/content/sample_data/mnist_test.csv')

In [ ]:
s.head()

In [ ]:
# Read /content/sample_data/california_housing_train.csv
#  and use describe , head, tail

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
df.tail(10)

         rank discipline  phd  service     sex  salary
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        78 non-null     object
 1   discipline  78 non-null     object
 2   phd         78 non-null     int64
 3   service     78 non-null     int64
 4   sex         78 non-null     object
 5   salary      78 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.8+ KB

In [ ]:
df['rank']

0          Prof
1          Prof
2          Prof
3          Prof
4          Prof
        ...
73         Prof
74    AssocProf
75         Prof
76         Prof
77         Prof
Name: rank, Length: 78, dtype: object

In [ ]:
df.phd.describe

<bound method NDFrame.describe of 0     56
1     12
2     23
3     40
4     20
      ..
73    18
74    19
75    17
76    28
77    23
Name: phd, Length: 78, dtype: int64>

In [ ]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
df.max()

rank            Prof
discipline         B
phd               56
service           51
sex             Male
salary        186960
dtype: object

In [ ]:
df.min()

rank          AssocProf
discipline            A
phd                   1
service               0
sex              Female
salary            57800
dtype: object

In [ ]:
df.mean()

<ipython-input-17-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [3]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
df.salary.quantile(0.25)

88612.5

In [ ]:
df.salary.quantile(0.50)

104671.0

In [ ]:
df.salary.quantile(0.75)

126774.75

In [ ]:
df.std()

<ipython-input-21-ce97bb7eaef8>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [ ]:
df_50=df.head(50)

In [ ]:
df_50.mean()

<ipython-input-23-abcf5df04292>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_50.mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [ ]:
df.head(50).mean()

<ipython-input-24-56442511a41d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.head(50).mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [8]:
#Selecting a column
df.salary # does not work if column name contains blank space or dot (eg. "No. of Columns")
#           for that enclose column name inside square bracket.

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
df['salary'] # will work if column name has blank space of dot eg. df["No. of Columns"]

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [9]:
result1=df.salary
result1

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [10]:
# 2 data structures in pandas: 1. Series 2. DataFrame
# Pandas Series: is a one-dimensional labeled array whose object size cannot be changed.
# 
# Pandas DataFrame: is a two-dimensional structure with columns and rows whose size can be changed. 
# You can also think of it as a dictionary of Series objects.
type(result1)

pandas.core.series.Series

In [11]:
result2=df[['salary']]

In [12]:
result2

    salary
0   186960
1    93000
2   110515
3   131205
4   104800
..     ...
73  105450
74  104542
75  124312
76  109954
77  109646

[78 rows x 1 columns]

In [ ]:
type(result2)

pandas.core.frame.DataFrame

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
# Extract particular columns in a new dataframe
newdf=df[['salary','service','phd']]
newdf

In [ ]:
df['discipline'].value_counts() # category and its value

B    42
A    36
Name: discipline, dtype: int64

In [ ]:
df['rank'].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

Calculate the basic statistics for the Phd column;

Find how many values in the Phd column (use count method);

Calculate the average Phd;

In [ ]:
df.phd.describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [ ]:
df.phd.count()

78

In [ ]:
df.phd.mean()

19.705128205128204

In [ ]:
# in rank 3 values: Asso,Asst,Prof. Group by this and find mean of each category
df.groupby(['rank']).mean() # group by rank and finds mean of all numeric columns

In [ ]:
df.groupby(["discipline"]).count()

In [ ]:
df.groupby(["discipline","rank"]).count()

In [ ]:
df.groupby(["discipline","rank","sex"]).count()

In [ ]:
df.groupby(["discipline","rank","sex"]).mean() # avg sal of discipline B's Male Prof is: 137989.076923

In [ ]:
df.groupby('rank')[['salary','phd']].mean() # group by rank and find mean of specified columns only

In [ ]:
grouped=df.groupby('rank') # saving in variable grouped

In [ ]:
for g in grouped: # to display records of grouped variable
  print(g)

In [ ]:
df[df.salary>120000]

In [ ]:
df.shape

(78, 6)

In [ ]:
df.shape[0]

78

In [ ]:
df[df.salary>120000].shape[0] # count of prof having sal > 120000

25

In [ ]:
df[df.salary>120000].count()

In [ ]:
newdf=df[(df['sex']=='Male') & (df['salary']>150000)]
newdf

In [ ]:
# newdf.count()
# OR 
newdf.shape[0]

7

In [ ]:
df[df['rank']!='Prof'].shape[0]

32

In [13]:
#df[(df['service']>15) | (df['salary']>100000)]
df[(df['service']>15) | (df['salary']>100000)].shape[0]

54

In [ ]:
df # will display all records

In [ ]:
# to extract only particular index record - say 5th index record
df[5] # will raise error

In [14]:
df.iloc[25] # iloc -> index location for row

rank           Prof
discipline        B
phd              35
service          31
sex            Male
salary        99418
Name: 25, dtype: object

In [15]:
df.iloc[1:4, 0:3]  # row 1 to 3, col 0 to 2

   rank discipline  phd
1  Prof          A   12
2  Prof          A   23
3  Prof          A   40

In [16]:
df.iloc[0:10,0:3] # 0 to 9 records, 0 to 2 columns

        rank discipline  phd
0       Prof          B   56
1       Prof          A   12
2       Prof          A   23
3       Prof          A   40
4       Prof          B   20
5       Prof          A   20
6  AssocProf          A   20
7       Prof          A   18
8       Prof          A   29
9       Prof          A   51

In [17]:
df.iloc[0:2,] # rows 0 to 1 and all columns

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000

In [ ]:
df.iloc[:,4] #all rows, index 4 column

In [ ]:
df.iloc[:,0:3]

In [20]:
df.iloc[[10,20,22,24],] # only particular rows with all columns

        rank discipline  phd  service   sex  salary
10      Prof          B   39       33  Male  128250
20  AsstProf          B    4        4  Male   92000
22  AsstProf          A    4        2  Male   73000
24      Prof          A   30       23  Male   91100

In [ ]:
df.loc[:,['rank','sex']] # without mentioning index no. - mention col name

In [22]:
df.loc[[0,1,2],['discipline','rank']]

  discipline  rank
0          B  Prof
1          A  Prof
2          A  Prof

In [23]:
df.iloc[::5] # all rows and columns with step value 5

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
5        Prof          A   20       20    Male  122400
10       Prof          B   39       33    Male  128250
15       Prof          B   17        3    Male  150480
20   AsstProf          B    4        4    Male   92000
25       Prof          B   35       31    Male   99418
30  AssocProf          B    9        7    Male  107008
35       Prof          B   28       23    Male  126933
40       Prof          A   39       36  Female  137000
45       Prof          B   25       25  Female  140096
50   AsstProf          B   10        5  Female   97032
55   AsstProf          A    2        0  Female   72500
60   AsstProf          B    3        3  Female   92000
65       Prof          A   36       19  Female  117555
70   AsstProf          A    8        3  Female   78500
75       Prof          B   17       17  Female  124312

In [ ]:
df.iloc[10:30:4]

        rank discipline  phd  service   sex  salary
10      Prof          B   39       33  Male  128250
14      Prof          B   25       19  Male  153750
18      Prof          A   19        7  Male  107300
22  AsstProf          A    4        2  Male   73000
26      Prof          A   38       19  Male  148750

In [ ]:
df.iloc[::-1] # all records in reverse order

Aggregation Function in Pandas
Aggreation - Computing a summary statistic about each group

In [ ]:
dir(df) # functions that can be applied on dataframe

Common aggregation functions are:min,max,count,sum,prod,mean,median,mode,mad,std,var

In [25]:
# Compute group sums or means
# Compute group sizes or counts
# agg() or aggregate()  - useful when multiple statistics are computed per column
# Here's how to calculate the mean absolute deviation - mad().
#Step 1: Calculate the mean.
#Step 2: Calculate how far away each data point is from the mean using positive distances. These are called absolute deviations.
#Step 3: Add those deviations together.
#Step 4: Divide the sum by the number of data points.

df[['phd','salary']].agg(['min','mean','max','mad','std'])

            phd         salary
min    1.000000   57800.000000
mean  19.705128  108023.782051
max   56.000000  186960.000000
mad    9.920776   22957.266930
std   12.498425   28293.661022

In [26]:
df[['salary']].agg('skew')

salary    0.452103
dtype: float64

In [27]:
df[['salary']].agg('kurt')

salary   -0.401713
dtype: float64

In [28]:
df.var()

<ipython-input-28-28ded241fd7c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

phd        1.562106e+02
service    1.473740e+02
salary     8.005313e+08
dtype: float64

In [29]:
df.sem() #std error of mean - Standard error i.e.Sigma / square root of n

<ipython-input-29-cc3faf423f7b>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sem() #std error of mean - Standard error i.e.Sigma / square root of n

phd           1.415168
service       1.374558
salary     3203.626259
dtype: float64